<h2>Below is a list of all your reservations:</h2>

<% @reservations.each do |reservation| %>
<div>
  <h3><%= link_to reservation.room.hotel.name, reservation.room.hotel %></h3>
  <p>Confirmed on: <%= reservation.created_at %></p>
</div>
<% end %>
