<h2>We strive to be a central hub for creating guest reservations at all the following locations:</h2>

<% @hotels.each do |hotel| %>
  <div class="hotel">
    <h3><%= link_to hotel.name, hotel %></h3>
  </div>
<% end %>
